/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    font-family: 'Open Sans', sans-serif;

    /* background-size: 200% 100% !important; */
    /* animation: move 10s ease infinite; */
    /* transform: translate3d(0, 0, 0); */
    /* background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%); */
    /* height: 100vh */
}

.user {

    /* max-width: 340px; */
    display: inline;
    /* text-align: center; */
    position: relative;
    top: 75px;
    /* height: 100vh; */
    /* overflow-x:auto; */
    /* left: 25%;
    top: 40%; */
}

.below {
    background-color: white;
}


/* label {
    display: block;
    margin-bottom: 8px;
  } */

.user__header {
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.7s forwards;
}

/* .user__title {
    font-size: $font-size;
    margin-bottom: -10px;
    font-weight: 500;
    color: white;
} */

.spacer {
    float: left;
}

/* .co{
    background-color: rgb(181, 196, 201);
    width: 50%;
    height: 100%;
    display: inline-block;
} */

.form {
    display: inline;
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
}

.form--no {
    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    margin: 12px 0;

    cursor: pointer;
    position: relative;
}

.text {
    color: rgb(128, 126, 126);
}

p {
    display: inline-block;
    color: rgb(128, 126, 126);
    margin-bottom: 2px;
}

.form__input, textarea {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;

}

.btn {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background: #A2C7E5;
    transition: 0.3s;

}

@keyframes NO {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}